.name-wrapper {
  height: 100vh;
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  z-index: 1;
  position: fixed;
  // background-color: transparent;
  mix-blend-mode: difference;
}

.name {
  font-size: 4em;
  font-weight: 800;
  // mix-blend-mode: screen;
}

.name, 
.name-software-developer {
  margin-right: 5%;
  color: white;
}

.name-software-developer {
  font-size: 2.5em;
  font-weight: 100;
}